<div class='issues_header'>
  <div class='issue_number'>
    No
  </div>


  <div class='issue_id'>
    ID
  </div>

  <div class='issue_date'>
    Дата
  </div>


  <div class='issue_phone'>
    Тел
  </div>


  <div class='issue_source'>
    Источник
  </div>

  <div class='issue_client_name'>
    Имя
  </div>


  <div class='issue_call_reaction'>
    Реакция
  </div>


  <div class='issue_call_conditions'>
    Презентация
  </div>


  <div class='issue_call_refusal_reason'>
    Причина отказа
  </div>


  <div class='issue_call_next_date'>
    Перезвон
  </div>


  <div class='issue_call_meeting_date'>
    Встреча
  </div>

  <div class='issue_result'>
    Результат
  </div>

  <div class='issue_actions'>
  </div>
</div>

<div style='clear: both'> </div>
