<% collection_length = issues.count %>

<% issues.each_with_index do |iss, index| %>
<% next if iss.id.nil? %>

  <%= render "issues/issue_wrapper", :iss => iss, :call => iss.calls.order("calls.created_at DESC").last, :collection_length => collection_length, :index => index %>
  <div class='clear: both'> </div>

<% end %>
