<% collection_length = issues.count %>


<%= render "issues/header"%>

<% issues.each_with_index do |issue, index| %>



<div class='issue_entry <%= issue.urgent? ? "result_urgent": (issue.today? ? "result_today" : "result_#{issue.result}") %>'>
<a href="#" class='selector'>
  <div class='issue_number'>
    <%= collection_length-index %>
  </div>
  <%= render "issues/issue", :issue => issue, :call => issue.calls.order("created_at DESC").last %>
</div>
</a>
<div class='clear: both'> </div>

<% end %>
