<% title "Правка рабочей группы" %>

<%= form_for @project, :url => account_project_path(@account, @project) do |f| %>
  <%= render 'form', :f => f %>
<% end %>

<p>
  <%= link_to "Показать", account_project_path(@project) %> |
  <%= link_to "Показать все", account_projects_path(@account) %>
</p>
