<% title "Рабочие группы" %>

  <% for project in @projects %>
    <%= render "project", :project => project%>
  <% end %>

<p><%= link_to "Создать группу", new_account_project_url(@account.id) if can?(:create, @account.projects.build) %></p>
