<% title "Новая группа" %>


<%= form_for @project, :url => account_projects_path(@account) do |f| %>
  <%= render 'form', :f => f %>
<% end %>

<p><%= link_to "Назад к списку", account_projects_path(@account) %></p>
