<%= render "projects/manager_menu" if current_user.manager?(@project) %>
<% title "#{@project.name} - #{ I18n.t(params[:rating])}" %>


<table>
<tr>
  <th>
    No
  </th>
  <th>
    Оператор
  </th>
  <th>
    Количество
  </th>
</tr>

<% @data.each_with_index do |d,index| %>
<tr>
  <td>
    <%= index+1 %>
  </td>
  <td>
    <%= User.find(d["id"]).display_name %>
  </td>
  <td>
    <%= d["data_field"] %>
  </td>
</tr>
<% end %>  
</table>