/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #888888;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
	margin: 0;
	padding: 0;
}

body h1 {
	font-size: 22px;
}


body a {
	color: #0d578e;
	font-size: smaller;
	margin-bottom: 2px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}




#head {
	background: #0d578e url(/assets/logo.png) right top no-repeat;
	box-shadow: 0px 0px 5px #000000;
	height: 50px;
	color: white;
	padding-left: 10px;
/*	position: fixed; */
	left: 0;
	top: 0;
	width: 100%;
}

#head a {
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	color: white;
	height: 50px;
	width: 170px;
	display: block;
	
	border-left: 1px Solid #72a0c7;
	
	float: left;
}


#head a:hover {
	background: #2d67ae;
}

.field_with_errors input, .field_with_errors select{
	background-color: #FFCCCC;
}



.field_with_errors, .field_error_message {
	color: #FF8888;
	font-size: 10px;
}


#new_record_wrapper form{
	background: #e0e0e0;
}

#new_record_wrapper input {
	border: 1px Solid #888;
}

#new_record_wrapper div.phone input  {
	width: 90%;
}

#new_record_wrapper div.source select  {
	width: 90%;
}


#new_record_wrapper div.client input  {
	width: 90%;
}



#new_record_wrapper div.conditions   {
	overflow: hidden;
}


#new_record_wrapper div.phone, div.source, div.client, div.reaction, div.result, div.reason, div.conditions, 
div.nextdate, div.submit, div.meetingdate{
	float: left;
	display: block;
}


div.calls {
	float: left;
	display: block;
	width: 50%;
}



#container {
  width: auto;
  margin: 0;
	margin-left: 10px;
	margin-right: 10px;
  background-color: #FFF;
  padding: 15px 30px;
  border: solid 1px black;
	margin-top: 60px;
}


#container form.new_user input,#container form.edit_user input,#container form.new_project input,#container form.edit_project input {
	font-size: 22px;
	padding: 5px;
	color: #333333;
	margin-bottom: 10px;
	
}


#flash {
	background: black;
	color: white;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
}


#flash_notice {
  color: #CFC;
}

#flash_error, #flash_alert {
  color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


.issue_number, .issue_id, .issue_date, .issue_phone,.issue_source,.issue_client_name,.issue_call_reaction,.issue_call_conditions,.issue_call_refusal_reason,.issue_call_next_date,.issue_call_meeting_date,.issue_result,.issue_actions {
	float: left;
	width: 6%;
	display: block;
	overflow: hidden;
}

.issue_call_conditions {
	width: 10%;	
	
}


.red {
	color: red;
}
		


.issues_header {
	padding-top: 10px;
	font-size: 10px;
	font-weight: bold;
}

div.call div.issue_actions {
	width: 10%;
}

.issue_actions input {
	width: 90%;
}

.issue_form {
	padding-bottom: 10px;
	
}

.issue_entry {
	font-size: 11px;
	overflow: hidden;
	height: 20px;
	border-bottom: 1px Solid #808080;
}

.issue_entry a.selector {
	padding-top: 3px;
	display: block;
	color: black;
	height: 20px;
	padding:0;
	margin: 0;
	margin-bottom: 2px;
}



.issue_call_reaction select {
	width: 90%;
	
}

.issue_call_conditions select {
	width: 90%;
}

.issue_call_refusal_reason input {
	width: 90%;
}

.issue_call_next_date input {
	width: 90%;
}

.issue_call_meeting_date input {
	width: 90%;
}

.issue_result select {
	width: 90%;
}

.issue_call_reaction {
	width: 10%;
}


div.call div.issue_call_reaction {
	width: 20%;
}

div.call div.issue_call_conditions {
	width: 20%;
}

.issue_call_meeting_date {
	width: 6%;
}

div.call div.issue_call_meeting_date {
	width: 12%;
}

div.call div.issue_result {
	width: 12%;
}


.issue_call_refusal_reason {
	width: 10%;
}

div.call div.issue_call_refusal_reason {
	width: 20%;
}

.issue_call_next_date {
	width: 6%;
}

div.call div.issue_call_next_date {
	width: 12%;
}



.issue_form {
	height: auto;
}

.issue_number, .issue_id {
	width: 3%;
}

.issue_source {
	width: 10%;
}

.issue_date,  .issue_phone{
	width: 10%;
}

.issue_client_name {
	width: 12%;
	
}






div.calls div.call {
	width: 100%;
	display: auto;
	
}


.result_refusal {
	background-color: #666666;
	
}


.result_meeting {
	background-color: #33FF33;
}

.result_redial {
	background-color: #8888FF;
}

.result_today {
	background-color: #FFFF88;
}

.result_urgent {
	background-color: #FF8888;
}



.result_noanswer {
	background-color: #8888FF;
}


.result_empty {
	background-color: black;
}





.result_refusal  a.selector:hover {
	background-color: #888888;
	
}


.result_meeting  a.selector:hover {
	background-color: #66FF66;
}

.result_redial  a.selector:hover{
	background-color: #a0a0FF;
}

.result_today  a.selector:hover{
	background-color: #FFFFa0;
}

.result_urgent  a.selector:hover{
	background-color: #FFa0a0;
}



.result_noanswer  a.selector:hover{
	background-color: #a0a0FF;
}


.result_empty  a.selector:hover{
	background-color: #444444;
}

#records_wrapper {
	height: 350px;
	overflow: auto;
}

#workline .header a {
	padding: 3px;
}

#workline .header a.selected {
	background: #0d578e;
	color: white;
	text-decoration: none;
	padding: 3px;
}

#workline_ {
	position: fixed;
	margin-top: 55px;
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	left:0;
	top:0;
	right: 0;
	background: white;
}

#dashboard {
	

}



table.stats {
	border-collapse: collapse;
	width: 50%;
	margin-bottom: 20px;
	
}


table.stats th {
	background: #0d578e;
	padding: 5px;
	color: white;
	text-align: left;
}

table.stats td {
	padding: 5px
}

table.stats tr.even td {
	background: #e0ffe0;
}



.account, .project {
	width: auto;
	background: #ddeeFF;
	padding: 7px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 22px;
	margin-bottom: 10px;
}

.account .no,.project .no {
	float: left;
	width: 15%;
}

.account .name, .project .name {
	float: left;
	width: 50%;
}

.account .role, .project .role {
	float: left;
	width: 30%;
}


.project .name {
	width: 40%;
}

.project .role {
	width: 20%;
}

.project .actions {
	float: left;
	width: 20%;
}
