/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #888888;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
	margin: 0;
	padding: 0;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


#head {
	background: #0d578e;
	box-shadow: 0px 0px 5px #000000;
	height: 50px;
	color: white;
	padding-left: 10px;
	
}

#head a {
	line-height: 50px;
	text-align: center;
	color: white;
	height: 50px;
	width: 170px;
	display: block;
	
	border-left: 1px Solid #72a0c7;
	border-right: 1px Solid #0f3e68;
	
	float: left;
}


.field_with_errors input, .field_with_errors select{
	background-color: #FFCCCC;
}



.field_with_errors, .field_error_message {
	color: #FF8888;
	font-size: 10px;
}

#new_record_wrapper form{
	background: #e0e0e0;
}

#new_record_wrapper input {
	border: 1px Solid #888;
}

#new_record_wrapper div.phone input  {
	width: 90%;
}

#new_record_wrapper div.source select  {
	width: 90%;
}


#new_record_wrapper div.client input  {
	width: 90%;
}



#new_record_wrapper div.conditions   {
	overflow: hidden;
}


#new_record_wrapper div.phone, div.source, div.client, div.reaction, div.result, div.reason, div.conditions, 
div.nextdate, div.submit, div.meetingdate{
	float: left;
	display: block;
}


div.calls {
	float: left;
	display: block;
	width: 50%;
}



#container {
  width: auto;
  margin: 0;
	margin-left: 10px;
	margin-right: 10px;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash {
	background: black;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
}


#flash_notice {
  color: #CFC;
}

#flash_error, #flash_alert {
  color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}




.issue_number, .issue_id, .issue_date, .issue_phone,.issue_source,.issue_client_name,.issue_call_reaction,.issue_call_conditions,.issue_call_refusal_reason,.issue_call_next_date,.issue_call_meeting_date,.issue_result,.issue_actions {
	float: left;
	width: 6%;
	display: block;
	overflow: hidden;
}

.issues_header {
	font-size: 10px;
	font-weight: bold;
}

div.call div.issue_actions {
	width: 10%;
}

.issue_actions input {
	width: 90%;
}

.issue_entry {
	font-size: 11px;
	overflow: hidden;
	height: 16px;
	border-bottom: 1px Solid #808080;
}

.issue_call_reaction select {
	width: 90%;
	
}

.issue_call_conditions select {
	width: 90%;
}

.issue_call_refusal_reason input {
	width: 90%;
}

.issue_call_next_date input {
	width: 90%;
}

.issue_call_meeting_date input {
	width: 90%;
}

.issue_result select {
	width: 90%;
}

.issue_call_reaction {
	width: 10%;
}


div.call div.issue_call_reaction {
	width: 20%;
}

div.call div.issue_call_conditions {
	width: 12%;
}

.issue_call_meeting_date {
	width: 8%;
}

div.call div.issue_call_meeting_date {
	width: 16%;
}

div.call div.issue_result {
	width: 12%;
}


.issue_call_refusal_reason {
	width: 10%;
}

div.call div.issue_call_refusal_reason {
	width: 20%;
}

.issue_call_next_date {
	width: 8%;
}

div.call div.issue_call_next_date {
	width: 16%;
}



.issue_form {
	height: auto;
}

.issue_number, .issue_id {
	width: 3%;
}

.issue_source {
	width: 10%;
}

.issue_date,  .issue_phone{
	width: 10%;
}

.issue_client_name {
	width: 12%;
	
}






div.calls div.call {
	width: 100%;
	display: auto;
	
}


.result_refusal {
	background-color: #666666;
	
}


.result_meeting {
	background-color: #33FF33;
}

.result_redial {
	background-color: #8888FF;
}

.result_today {
	background-color: #FFFF88;
}

.result_urgent {
	background-color: #FF8888;
}



.result_noanswer {
	background-color: #8888FF;
}


.result_empty {
	background-color: black;
}





