<p><%= link_to 'Подвердите', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
  регистрацию на сервисе Cryptic-CRM. Это могли сделать вы сами, либо Вас добавил в проект Ваш руководитель.
  </p>
