<p>Приветствуем, <%= @resource.email %>!</p>

<p>Кто-то с нашего сайта (Cryptic-CRM) отправил запрос для смены пароля вашей учетной записи. Вы можете
  сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не запрашивали, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке.</p>
